.card{
    display : flex;
    flex-direction : column; 
    max-width : 400px;
    border : 1px solid lightgray;
}
.card .card-body{
    padding : 4px 8px;
}
.card .card-footer{
    padding : 15px 0;
}

.card .card-header img{
    width : 100%;
    height : 150px;
    object-fit:cover;
}

.card .card-body h4{
    margin-block : 0;
    text-align : left;
    font-size : x-large;
}
.card .card-body p{
    text-align : left;
    margin-block : 0;
}

.card .card-footer button{
    padding : 15px 30px;
    background-color: lightgreen;
    border : none;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border-radius : 5px;
    font-weight : bold;
    text-transform: uppercase;
    transition : all 200ms ease-in-out;  
    cursor : pointer;
}
.card .card-footer button:hover{
    background-color : darkslategray;
    color : #fceded;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
    transform : translateY(-2px)
}