.navbar{
    display : flex;
    justify-content: space-around;
    gap : 100px;
    border-bottom: 2px solid var(--white-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 20px 0px;    
    height : 100px;
    max-height : 150px;
    align-items: center;
}
.navbar .navbar-logo img{
    max-width : 200px;
    object-fit: cover;
    vertical-align: middle;
    margin-left : 20px;
}


.navbar .navbar-menu a{
    color : var(--primary-color);
    padding : 30px;
    font-size :1.5rem;
    font-family: Roboto, serif;
    transition : all 200ms ease-in-out;
}
.navbar .navbar-menu a:hover{
    border-bottom : 3px solid var(--primary-color);
    cursor : pointer;
    font-size : 1.7rem;
}
.navbar .navbar-cart{
    position : relative; 
    cursor : pointer
}
.navbar .navbar-cart span{
    background-color : darkslategray;
    border-radius : 50%;
    position : absolute;
    bottom : 0;
    right : 0;
    padding : 3px;
    color : var(--white-color);
    font-size : 11px;
    font-weight: bold;
}

